[Unit]
Description=NetBox Redis Cache

[Container]
ContainerName=netbox-redis-cache
Image=docker.io/valkey/valkey:9.0-alpine
Pod=netbox.pod
EnvironmentFile=%h/netbox/env/redis-cache.env
Volume=netbox-redis-cache-data:/data
Exec=sh -c 'valkey-server --port 6380 --requirepass "$REDIS_PASSWORD"'

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
