[Unit]
Description=NetBox Redis

[Container]
ContainerName=netbox-redis
Image=docker.io/valkey/valkey:9.0-alpine
Pod=netbox.pod
EnvironmentFile=%h/netbox/env/redis.env
Volume=netbox-redis-data:/data
Exec=sh -c 'valkey-server --appendonly yes --requirepass "$REDIS_PASSWORD"'

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
