[Unit]
Description=NetBox Postgres

[Container]
ContainerName=netbox-postgres
Image=docker.io/postgres:18-alpine
Pod=netbox.pod
EnvironmentFile=%h/netbox/env/postgres.env
Environment=POSTGRES_DB=netbox
Environment=POSTGRES_USER=netbox
Volume=netbox-postgres:/var/lib/postgresql

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
